@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,400&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0; }

.fondo {
  background-color: rgba(5, 5, 5, 0.774); }

.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 20vh;
  overflow: hidden;
  max-width: 100vw; }
  .header img {
    height: 12vh;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 5s; }
    .header img:hover {
      transform: rotate(100%);
      transition: 2s; }

@keyframes girar {
  0% {
    transform: rotate(0); }
  12.5% {
    transform: rotate(45deg); }
  25% {
    transform: rotate(90deg); }
  37.5% {
    transform: rotate(135deg); }
  50% {
    transform: rotate(180deg); }
  62.5% {
    transform: rotate(225deg); }
  75% {
    transform: rotate(270deg); }
  87.5% {
    transform: rotate(315deg); }
  100% {
    transform: rotate(359deg); } }
  .header h1 {
    color: #ff7f50;
    font-size: 8vh;
    font-family: "Arvo", serif; }
  .header .ul {
    display: flex;
    width: 520px;
    align-items: flex-end;
    height: 60px;
    list-style: none;
    padding: 10px;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: flex-end; }
    .header .ul a {
      color: white;
      padding: 5px;
      font-size: 15px;
      text-decoration: none;
      font-weight: bold;
      flex-wrap: wrap; }
      .header .ul a:hover {
        color: coral; }

.seccion-0 {
  grid-area: seccion-0;
  background-image: url(https://tse2.mm.bing.net/th?id=OIP.gZGKcPmTO4Qe3HJX6tM9bwHaEI&pid=Api&P=0);
  min-height: 12vh; }

#container {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-areas: "header header header header" "seccion-0 seccion-0 seccion-0 seccion-0 " "seccion-1 seccion-1 seccion-1 seccion-1 " "seccion-2 seccion-2 seccion-4 seccion-4" "seccion-3 seccion-3 seccion-3 seccion-3 " "footer footer footer footer"; }

.seccion-1 {
  grid-area: seccion-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px; }
  .seccion-1 p {
    color: white;
    max-width: 1260px;
    text-align: center;
    padding: 15px;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    font-family: "Lato", sans-serif; }
    .seccion-1 p span {
      color: coral; }
  .seccion-1 img {
    padding: 25px;
    padding-top: 20px;
    margin: auto;
    box-shadow: 10px 10px 15px #222121; }

.seccion-2 {
  grid-area: seccion-2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: rgba(255, 127, 80, 0.562) solid 2px; }
  .seccion-2 h2 {
    color: #ff7f50;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    padding-top: 60px; }
  .seccion-2 h3 {
    color: white;
    text-align: center;
    padding: 5px;
    padding-top: 20px; }
  .seccion-2 p {
    text-align: center;
    color: white;
    padding: 5px; }
  .seccion-2 iframe {
    padding-left: 23px;
    padding-top: 10px;
    width: 432px;
    margin: auto;
    box-shadow: 10px 10px 15px #222121; }

.seccion-3 {
  grid-area: seccion-3;
  border-top: rgba(255, 127, 80, 0.562) solid 2px; }
  .seccion-3 h2 {
    font-size: 40px;
    color: #ff7f50;
    text-align: center;
    padding: 10px;
    padding-top: 40px; }
  .seccion-3 img {
    width: 200px; }
    .seccion-3 img:hover {
      transform: scale(1.8);
      transition: 1s; }
  .seccion-3 .img-sec-3 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    padding-left: 10px;
    margin: auto;
    justify-content: center; }

.seccion-4 {
  padding-top: 60px;
  grid-area: seccion-4;
  border-top: rgba(255, 127, 80, 0.562) solid 2px; }
  .seccion-4 h2 {
    font-size: 40px;
    text-align: center;
    color: #ff7f50; }
  .seccion-4 h3 {
    padding: 15px;
    color: white;
    text-align: center;
    padding-top: 28px; }
  .seccion-4 .div-iframe {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    padding-block-end: 20px; }
    .seccion-4 .div-iframe iframe {
      box-shadow: 10px 10px 15px #222121; }

/* estilo de seccion historia*/
.seccion-1h {
  overflow: hidden; }
  .seccion-1h h2 {
    color: #ff7f50;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding: 10px; }
  .seccion-1h p {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    font-family: "Lato", sans-serif; }
  .seccion-1h div {
    background-color: rgba(108, 111, 112, 0.644); }

.main__seccion-2h {
  border-top: rgba(255, 127, 80, 0.562) solid 2px; }
  .main__seccion-2h--div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px; }
    .main__seccion-2h--div .card {
      width: 18rem;
      background-color: rgba(211, 219, 219, 0.541); }
      .main__seccion-2h--div .card img {
        height: 200px;
        padding: 10px; }

/*ESTILO seccion discografia*/
#grid-padre {
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(5, 20vh);
  grid-area: "header header header header" "seccion-0 seccion-0 seccion-0 seccion-0" "seccion-1-disc seccion-1-disc seccion-1-disc seccion-1-disc" "seccion-2-disc seccion-2-disc seccion-2-disc seccion-2-disc" "footer footer footer footer"; }

.header {
  grid-area: header; }

.seccion-0 {
  grid-area: seccion-0; }

.seccion-1-disc {
  grid-area: seccion-1-disc; }
  .seccion-1-disc h2 {
    font-size: 50px;
    font-weight: bold;
    color: #ff7f50;
    text-align: center;
    padding-top: 30px; }
  .seccion-1-disc .div-sec {
    background-color: rgba(108, 111, 112, 0.644); }
  .seccion-1-disc .div-sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
    .seccion-1-disc .div-sec-1 h3 {
      font-size: 25px;
      font-weight: bold;
      color: black;
      text-align: center;
      padding: 10px; }
    .seccion-1-disc .div-sec-1 p {
      max-width: 1140px;
      padding: 10px;
      color: black;
      font-size: 20px;
      font-weight: bold;
      font-family: "Lato", sans-serif; }
      .seccion-1-disc .div-sec-1 p span {
        color: coral; }
    .seccion-1-disc .div-sec-1 iframe {
      padding: 25px 0 80px; }
  .seccion-1-disc .byf {
    padding-top: 50px;
    border-top: dashed 5px grey; }

.seccion-2-disc {
  grid-area: seccion-2-disc;
  display: flex;
  height: 700px;
  flex-direction: column;
  border-top: rgba(255, 127, 80, 0.562) solid 2px; }
  .seccion-2-disc h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ff7f50;
    text-align: center;
    padding-top: 20px; }
  .seccion-2-disc .div-sec-2 {
    display: flex; }
  .seccion-2-disc .ul-disc {
    display: flex;
    height: 600px;
    width: 1300px;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    list-style: none; }
    .seccion-2-disc .ul-disc img {
      width: 200px;
      height: 200px;
      padding: 5px; }
      .seccion-2-disc .ul-disc img:hover {
        background-color: rgba(128, 128, 128, 0.116);
        transform: scale(1.2);
        transition: 1s; }

.footer {
  grid-area: footer;
  flex-wrap: wrap; }

/*ESTILO DE SECCION-1 "proximos shows"*/
.seccion-ps {
  overflow: hidden; }
  .seccion-ps .shows-h2 {
    color: #ff7f50;
    font-size: 40px;
    text-align: center;
    padding: 50px; }
  .seccion-ps .formato-caja {
    width: 85vw;
    height: 285px;
    background-color: rgba(108, 111, 112, 0.644);
    border-top-style: dotted;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding: 0 0 10px;
    padding-left: 10px; }
  .seccion-ps .show-item {
    display: flex; }
    .seccion-ps .show-item .show-date {
      display: block;
      min-width: 200px;
      text-align: center;
      padding: 0 15px;
      padding-top: 0;
      min-height: 100px;
      background-color: #363131;
      border-top: 24px solid coral;
      margin-top: 8px;
      padding-top: 30px; }
      .seccion-ps .show-item .show-date .dia {
        color: white;
        font-weight: bold;
        font-size: 20px; }
      .seccion-ps .show-item .show-date .mes {
        color: white;
        font-weight: bold;
        font-size: 20px; }
      .seccion-ps .show-item .show-date .año {
        color: white;
        font-weight: bold;
        font-size: 20px; }
      .seccion-ps .show-item .show-date .hora {
        color: coral;
        font-weight: bold;
        font-size: 20px; }
  .seccion-ps .titulo {
    flex-wrap: wrap; }
    .seccion-ps .titulo .lugar {
      font-size: 40px;
      font-weight: bold;
      color: #f89f7e;
      flex-wrap: wrap; }
    .seccion-ps .titulo .evento {
      color: #f89f7e;
      font-size: 30px;
      font-weight: bold; }
  .seccion-ps .descripcion {
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 0 0 10px;
    width: 680px;
    flex-wrap: wrap; }
    .seccion-ps .descripcion p {
      max-width: 600px;
      margin: auto; }
  .seccion-ps .ticket {
    width: 80px;
    height: 30px;
    background-color: black;
    border: solid 2px coral; }
    .seccion-ps .ticket a {
      text-decoration: none;
      color: white;
      font-weight: bold; }
    .seccion-ps .ticket:hover {
      transform: scale(1.2);
      transition: 0.5s; }

/* ESSTILO seccion-2 de proximos shows*/
.seccion-2-ps {
  flex-wrap: wrap;
  margin-top: 180px; }
  .seccion-2-ps h2 {
    font-size: 40px;
    color: coral;
    font-weight: bold;
    text-align: center;
    padding: 25px; }
  .seccion-2-ps__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    max-height: 1050px;
    max-width: 1270px;
    margin: auto; }
    .seccion-2-ps__div .card {
      background-color: rgba(64, 73, 72, 0.514);
      width: 15rem; }
      .seccion-2-ps__div .card h5 {
        color: white; }
      .seccion-2-ps__div .card p {
        color: white; }
      .seccion-2-ps__div .card a {
        background-color: #4e9c6c; }
        .seccion-2-ps__div .card a:hover {
          color: #3d3d3a; }
        .seccion-2-ps__div .card a:active {
          background-color: black;
          color: white; }

/* ESTILO DE SECCION - contacto*/
.main h2 {
  font-size: 40px;
  font-weight: bold;
  color: #ff7f50;
  padding: 20px;
  text-align: center; }

.main .div-contacto {
  text-align: center;
  background-color: rgba(108, 111, 112, 0.644);
  padding: 0 0 20px; }
  .main .div-contacto h3 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 10px; }
  .main .div-contacto p {
    font-size: 20px;
    color: black;
    padding: 10px; }
  .main .div-contacto button {
    height: 30px;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.466);
    color: coral;
    font-weight: bold; }
    .main .div-contacto button:active {
      background-color: #07090c;
      color: white; }
  .main .div-contacto .input-group {
    max-width: 600px;
    margin: auto;
    padding: 10px; }

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url(https://tse2.mm.bing.net/th?id=OIP.gZGKcPmTO4Qe3HJX6tM9bwHaEI&pid=Api&P=0);
  grid-area: footer;
  min-height: 15vh; }
  .footer h2 {
    padding: 10px;
    text-align: center;
    color: coral; }
  .footer .ul-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 600px;
    height: 153px;
    align-items: center; }
    .footer .ul-2 li {
      font-size: 50px; }
      .footer .ul-2 li a i {
        color: rgba(250, 253, 253, 0.795); }
        .footer .ul-2 li a i:hover {
          color: coral;
          transform: scale(1.2);
          transition: 0.3s; }

@media (max-width: 768px) {
  #container {
    grid-template-rows: repeat(14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh);
    grid-template-areas: "header header header header" "seccion-0 seccion-0 seccion-0 seccion-0 " "seccion-1 seccion-1 seccion-1 seccion-1 " "seccion-2 seccion-2 seccion-2 seccion-2" "seccion-3 seccion-3 seccion-3 seccion-3 " "seccion-4 seccion-4 seccion-4 seccion-4" "footer footer footer footer";
    overflow: hidden; }
  .header {
    flex-direction: column; }
    .header h1 {
      font-size: 30px; }
    .header img {
      height: 10vh; }
    .header .ul {
      width: 360px;
      height: 60px;
      font-size: 5px; }
      .header .ul li a {
        font-size: 10px; }
  .seccion-1 img {
    width: 330px;
    margin: auto; }
  .seccion-1 p {
    font-size: 15px; }
  .seccion-2 {
    flex-direction: column;
    flex-wrap: nowrap; }
    .seccion-2 iframe {
      padding-left: 0px;
      padding-top: 10px;
      width: 320px;
      margin: auto; }
  .seccion-3 img {
    width: 180px; }
    .seccion-3 img:hover {
      transform: scale(1.4);
      transition: 1s; }
  .seccion-ps {
    overflow: hidden; }
    .seccion-ps .formato-caja {
      min-width: 150px;
      height: 250px; }
      .seccion-ps .formato-caja .show-date {
        padding-right: 10px;
        height: 130px;
        padding-top: 5px; }
        .seccion-ps .formato-caja .show-date .dia {
          font-size: 16px; }
        .seccion-ps .formato-caja .show-date .mes {
          font-size: 16px; }
        .seccion-ps .formato-caja .show-date .año {
          font-size: 16px; }
        .seccion-ps .formato-caja .show-date .hora {
          font-size: 16px; }
      .seccion-ps .formato-caja .lugar {
        font-size: 25px; }
      .seccion-ps .formato-caja .evento {
        font-size: 20px; }
      .seccion-ps .formato-caja .descripcion {
        max-width: 400px;
        font-size: 11px; }
      .seccion-ps .formato-caja .ticket {
        width: 57px;
        height: 22px;
        font-size: 10px; }
  .seccion-2-ps__div {
    max-height: 1350px; }
    .seccion-2-ps__div .card {
      width: 10rem; }
    .seccion-2-ps__div h5 {
      font-size: 15px; }
    .seccion-2-ps__div p {
      font-size: 15px; }
  .seccion-2-disc .div-sec-2 {
    width: 530px;
    margin: auto; }
    .seccion-2-disc .div-sec-2 img {
      width: 100px;
      width: 100px;
      height: 100px;
      padding: 5px; }
  .footer .ul-2 {
    width: 430px;
    padding-right: 30px; }
    .footer .ul-2 li {
      font-size: 30px; } }

@media (max-width: 465px) {
  #container {
    grid-template-rows: repeat(14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh);
    grid-template-areas: "header header header header" "seccion-0 seccion-0 seccion-0 seccion-0 " "seccion-1 seccion-1 seccion-1 seccion-1 " "seccion-2 seccion-2 seccion-2 seccion-2" "seccion-3 seccion-3 seccion-3 seccion-3 " "seccion-4 seccion-4 seccion-4 seccion-4" "footer footer footer footer"; }
  .ul {
    width: 369px;
    height: 60px;
    font-size: 5px; }
  .seccion-1 p {
    font-size: 15px; }
  .seccion-3 .img-sec-3 {
    padding: 10px;
    width: 360px; }
    .seccion-3 .img-sec-3 img {
      width: 100px; }
      .seccion-3 .img-sec-3 img:hover {
        transform: scale(1.4);
        transition: 1s; }
  .seccion-ps .show-h2 {
    font-size: 25px; }
  .seccion-ps .show-item {
    flex-direction: column;
    justify-content: space-evenly; }
    .seccion-ps .show-item .show-date {
      min-width: 160px; }
      .seccion-ps .show-item .show-date .dia {
        font-size: 16px; }
      .seccion-ps .show-item .show-date .mes {
        font-size: 16px; }
      .seccion-ps .show-item .show-date .año {
        font-size: 16px; }
      .seccion-ps .show-item .show-date .hora {
        font-size: 16px; }
  .seccion-ps .formato-caja {
    min-width: 150px;
    height: 360px; }
  .seccion-ps .show-info .lugar {
    font-size: 18px; }
  .seccion-ps .show-info .evento {
    font-size: 15px; }
  .seccion-ps .descripcion p {
    max-width: 310px;
    font-size: 11px;
    padding-left: 10px; }
  .seccion-ps .ticket {
    width: 57px;
    height: 22px;
    font-size: 10px; }
  .seccion-2-ps__div {
    max-height: 1350px; }
    .seccion-2-ps__div .card {
      width: 8rem; }
    .seccion-2-ps__div h5 {
      font-size: 15px; }
    .seccion-2-ps__div p {
      font-size: 15px; }
  #grid-padre {
    overflow: hidden; }
    #grid-padre .seccion-1-disc h2 {
      font-size: 30px; }
      #grid-padre .seccion-1-disc h2 p {
        font-size: 15px; }
    #grid-padre .seccion-2-disc h2 {
      font-size: 25px; }
    #grid-padre .seccion-2-disc .div-sec-2 {
      width: 336px; }
    #grid-padre .seccion-2-disc .ul-disc {
      width: 340px;
      padding: 4px; }
      #grid-padre .seccion-2-disc .ul-disc img {
        height: 110px;
        padding: 5px; }
  .seccion-1h p {
    font-size: 15px; }
  .main__seccion-2h--div {
    max-height: 1610px; }
    .main__seccion-2h--div .card {
      width: 10rem; }
      .main__seccion-2h--div .card h5 {
        font-size: 20px;
        font-weight: bold;
        color: coral; }
      .main__seccion-2h--div .card p {
        font-size: 15px;
        font-weight: bold; }
  .main h2 {
    font-size: 25px; }
  .main .div-contacto p {
    font-size: 15px; }
  .footer .ul-2 {
    width: 360px;
    padding-right: 30px; }
    .footer .ul-2 li {
      font-size: 30px; } }
