/* ESTILO DE SECCION - contacto*/

.main {

    h2 {
        font-size: 40px;
        font-weight: bold;
        color: $titulos;
        padding: 20px;
        text-align: center;

    }

    .div-contacto {
        text-align: center;
        background-color: $transparencia;
        padding: 0 0 20px;


        h3 {
            font-size: 30px;
            font-weight: bold;
            color: black;
            padding: 10px;

        }

        p {
            font-size: 20px;
            color: black;
            padding: 10px;

        }

        button {
            height: 30px;
            width: 130px;
            background-color: rgba(0, 0, 0, 0.466);
            color: coral;
            font-weight: bold;

            &:active{
               background-color: rgb(7, 9, 12);
               color: white;
            }
            
            
        }


        .input-group {
            max-width: 600px;
            margin: auto;
            padding: 10px;
        }
        
    }

}
